@model MyProject.Models.UserLogin
@{
    Layout = null;
    Layout = "~/Views/Shared/BasicMaster.cshtml";

}

                <div class="col-sm-6 col-md-4 col-md-offset-4">
                                    <div class="account-wall">
                                        <i class="user-img icons-faces-users-03"></i>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="append-icon">
                                            <input type="text" name="Email" id="Email" class="form-control form-white username" placeholder="Username" required>
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="append-icon m-b-20">
                                            <input type="password" name="Password" id="Password" class="form-control form-white password" placeholder="Password" required>
                                            <i class="icon-lock"></i>
                                        </div>
                                        <button type="submit" id="submit-form" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Sign In</button>
                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-6">
                                                <a href="/Member/RegistrationByMember" class="btn btn-primary" style="width:106%">Registration</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="/Admin/ForgetPassword" class="btn btn-primary" style="width:100%">Forget Password</a>
                                            </div>
                                        </div>
                                    </div>
               </div>
            
